* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    color: rgb(102, 166, 218);
}

a:hover {
    transition: 0.2s;
    color: rgb(28, 107, 172);
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------HEADER------------*/

header {
    min-width: 960px;
    width: 100%;
    height: min-content;
    padding: 0;
    margin: 0;

    background-color: #353a40;
}

header>nav {
    max-width: 2160px;
    width: 100%;
    height: min-content;
    padding: 5px;
    box-sizing: border-box;
    display: flex;

    margin-left: auto;
    margin-right: auto;
}

nav>img {
    padding: 0;
    margin: 0;
    width: 50px;
    height: auto;
}

nav>div {
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    margin: auto 10px;
}

nav>div>a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    text-align: center;
    margin: 0 10px;
}

div>a:hover {
    transition: 0.2s;
    color: #167fff;
}

nav>form {
    display: block;
    margin: auto 10px auto auto;
}

form>input {
    height: auto;
    margin: 0;
    padding: 9px;
    box-sizing: border-box;

    border: solid 1px #747474;
    border-radius: 5px;
}

form>button {
    height: min-content;
    margin: 0;
    padding: 7px 10px;
    box-sizing: border-box;

    background-color: transparent;
    border: solid 2px #009e4f;
    border-radius: 5px;
    color: #009e4f;
}

form>button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: rgb(101, 106, 111);
    border-color: black;
    color: black;
}

/*------------MAIN------------*/

main {
    max-width: 1930px;
    min-width: 920px;
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

/*------------PICTURE SECTION------------*/

#picture-section {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

}

.picture-element {
    flex-basis: 32%;

    border: solid 1px rgba(182, 182, 182, 0.836);
    border-radius: 3px;
}

.picture-element>img {
    width: 100%;
    margin: 0;
}

.picture-element>.pic-description {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
}

.pic-description>h2 {
    margin: 5px 0;
}
.pic-description>p {
    margin: 20px 0;
}

.pic-description>button {
    color: white;
    background-color: rgb(0, 104, 201);
    border: solid 1px transparent;
    border-radius: 3px;

    padding: 4px 8px;
    box-sizing: border-box;
}

.pic-description>button:hover {
    transition: 0.2s;
    color: rgb(0, 0, 0);
    background-color: rgb(30, 134, 231);
    cursor: pointer;
}

/*------------CONTENT SECTION------------*/

#content-section {
    display: flex;
    justify-content: space-between;
}

/*------------LEFT------------*/

#left {
    flex-basis: 65%;
}

/*------------POST------------*/

.post {
    margin-bottom: 40px;
    box-sizing: border-box;
}

.post p {
    line-height: 1.5rem;
}

.post .post-header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: solid 2px rgba(182, 182, 182, 0.836);
}

.post-header>h1 {
    font-size: 2rem;
}

.post>.post-content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------PAGE-SELECT------------*/

#left>#page-select {
    width: min-content;
    height: auto;
    display: flex;
    margin: 20px auto;
}

#page-select>a {
    margin: 0;
    padding: 7px 13px;
    box-sizing: border-box;
    border: solid 2px rgba(182, 182, 182, 0.836);
    color: rgb(102, 166, 218);
    text-decoration: none;
}

#page-select>a:hover {
    color: rgb(255, 255, 255);
    background-color: #747474;
}

#page-select :nth-child(even) {
    border-left: none;
    border-right: none;
}

/*------------ASIDE------------*/

aside {
    flex-basis: 30%;
}

aside>#about-site {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;

    background-color: rgba(238, 238, 238, 0.815);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul a{
    line-height: 1.4rem;
}

#about-site>h2 {
    margin: 5px 0;
}

#about-site>p {
    margin: 10px 0;
}

/*------------SIGNIN-SECTION------------*/

#signin-section {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;

    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#signin-section>form{
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

#signin-section>form>input[type=email] {
    height: auto;
    flex-basis: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    box-sizing: border-box;
    border: solid 1px #747474;
    border-radius: 5px;
}

#signin-section>form>input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

#signin-section>form>label {
    margin: auto 10px;
    text-shadow: 0 0 6px black;
}

#signin-section>form>button {
    height: auto;
    flex-basis: 100%;
    margin: 15px 0;
    padding: 10px 0;
    box-sizing: border-box;
    color: white;
    border: 1px solid transparent;
    background-color: rgb(0, 117, 226);
    border-radius: 8px;
}

#signin-section>form>button:hover {
    background-color: rgb(0, 68, 131);
    border-radius: 8px;
}

/*------------OFFERS------------*/

#offers {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#offers>.offer-div {
    flex-basis: 48%;
    display: flex;
    justify-content: space-between;

    border: solid 1px rgba(182, 182, 182, 0.836);
    border-radius: 3px;
}

#offer-div-1>img {
    display: inline-block;
    height: 100%;
    width: 38%;
    object-fit: cover;
    object-position: 80%;
}

#offer-div-2>img {
    display: inline-block;
    height: 100%;
    width: 38%;
    object-fit: cover;
    object-position: 50%;
}

.offer-div>.offer-dsc {
flex-basis: 65%;
margin: 0;
padding: 15px 30px;
box-sizing: border-box;
}

.offer-dsc>h3 {
    color: rgb(0, 117, 226);
    margin: 15px 0;
}

.offer-dsc>h1 {
    margin: 15px 0;
}

.offer-dsc>.offert-date {
    color: rgba(182, 182, 182, 0.836);
}

.offer-dsc>.offer-text {
    line-height: 1.7rem;
    padding: 0;
    margin: 40px 0;
}

.offer-dsc>a {
    margin: 10px 0;
}

/*------------FOOTER------------*/

footer {
    min-width: 960px;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    background-color: #353a40;
    color: white;
}

footer>#footer-content {
    max-width: 1920px;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
}

#footer-content a {
    color: rgb(161, 161, 161);
}

#footer-content p {
    line-height: 1.8rem;
}

#footer-content>#nazwa-bloga {
    flex-basis: 40%;
}

#footer-content>#szybkie-linki {
    flex-basis: 20%;
}

#szybkie-linki>ul>li {
    line-height: 1.6rem;
}

#footer-content>#kontakt {
    flex-basis: 20%;
}

#footer-content>p {
    flex-basis: 100%;
    display: block;
    text-align: center;
}